@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body{
    margin: 0 auto 0 auto;
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;

}

h1{
    font-family: 'Potta One', cursive,verdana   ;
    margin-top: 0;
    font-size: 5.62rem;
    color: #66BFBF;
}

h2{
    font-size: 3rem;
    color: #66BFBF;
    font-family:  Helvetica, sans-serif;
    text-align: center;
    position: relative;
}

h3{
    font-size: 2rem;
    color: #66BFBF;
}
.top-container{
    background-color:#EAF6F6;
    margin: 0 auto 0 auto;
    padding-top: 70px;
    position: relative;
    
}



.cloud-1{
    position: absolute;
    width: 15%;
    right:400px;
    
}

.cloud-2{
    position: absolute;
    width: 15%;
  left: 180px;
  top: 250px;
}

.mountain-1{
width: 40%;
height: 40%;
}

.prgm-img{
    border-radius: 100px;
    margin-top: 30px;
    width: 25%;
}

.hello{
 font-weight: bold;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Skills{
 text-align: center;
}

.code-img {
    width: 28%;
    position: absolute;
    border-radius: 1100rem;
    float: left;
    left:30px;
    top: 1670px;

}

.lorem{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    line-height: 50px;
}

.Cycling-gif{
    float: right;
    border-radius: 1000rem;
    margin: 100px 0 0 0;
    width: 30%;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 60px;
    padding: 13px 32px 15px 35px;
    text-decoration: none;
    margin: 0 0 100px 0; 
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

.foot{
    background-color: #66BFBF;
    padding: 10px 0 0 0;
    text-align: center;
    margin: 0;
}

p{
    
    font-size: 2rem;
    font-family:Helvetica, sans-serif;
   
}

.links{
    color: #11999e;
margin: 20px 40px;
font-size: 3rem;
display: inline-block;
text-decoration: none;
}

.links:hover{
    color: #EAF6F6;
}

section{
    color:#11999e;
    font-size: 5rem;
    font-family: Montserrat;
}